<a href="https://colab.research.google.com/github/Shambhavi-Gupta/questions-python/blob/master/questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# to find sum,len,max,min of a list
t=(1,2,3,4,5)
print(len(t))
print(sum(t))
print(max(t))
print(min(t))

5
15
5
1

In [0]:
# to find the cost of a quantity
q=int(input('enter quantity'))
if q*100>1000:
    cost=((q*100)-(0.1*q*100))
    print("cost",cost)
else:
    print('cost is',q*100)

enter quantity1200
cost 108000.0

In [0]:
# to print a star pattern
n=int(input('enter number of rows'))
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end=' ')
    print("\n")

enter number of rows4
*

* *

* * *

* * * *

In [0]:
# to double the elements 
lst_1=[1,2,3,4,5]
for index in range (len(lst_1)):
    lst_2=lst_1[index]*2
    print(lst_2)

2
4
6
8
10

In [0]:
# find the oldest person
str1=int(input("enter age of first person"))
str2=int(input("enter age of second person"))
str3=int(input("enter age of third person"))
if str1>str2 and str1>str3:
    print("oldest is:",str1)
elif str2>str3 and str2>str1:
    print("oldest is:",str2)
else:
    print("oldest is :",str3)

enter age of first person43
enter age of second person56
enter age of third person89
oldest is : 89

In [0]:
#find the youngest person
if str1<str2 and str1<str3:
    print("youngest is :",str1)
elif str2<str3 and str2<str1:
    print("youngest is :",str2)
else :
    print("youngest is :",str3)

youngest is : 43